img{
    height: 300px;
    width: 300px;
    margin-top: 100px;
}
.largo{
    height: 300px;
    width: 500px; 
    margin-top: 100px;  
}


body{
    background-color: blanchedalmond;
}

